services:
  flask-app:
    container_name: flask-app
    build: ./library-app
    deploy:
      replicas: 1
    depends_on: 
      db:
        condition: service_healthy
    networks:
      - library-net
    ports:
      - 5000
    env_file:
      - .env

  db:
    container_name: mysql
    image: mariadb:12.2.1-ubi10-rc
    deploy:
      replicas: 1
    networks:
      - library-net
    ports:
      - 3306
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 10s
      interval: 30s
      retries: 10

  nginx:
    container_name: nginx
    image: nginx:1.29.4-alpine
    deploy:
      replicas: 1
    depends_on: 
    - flask-app
    networks:
      - library-net
    ports:
      - "80:80"
    volumes:
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

networks: 
  library-net:
