{% extends 'main.html' %}
{% block body %}
{% if not current_user.is_authenticated %}
<h4> Use the links above to view items in our current inventory. Librarians may also log in to modify our catalog.</h4>
{% endif %}
{% if current_user.is_authenticated %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="messages">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h4>Welcome! You may update and add to our catalog above.</h4>
{% endif %}
<br>
{% endblock body %}
