{% extends 'main.html' %}
{% block body %}
<h2> List of Books by Author</h2>
{% for author in authors %}
<h4>{{author.author_name}}</h4>
{% for book in author.books %}
{{book.book_title}} - {{book.category.cat_name}}
{% if book.available == true %} - Currently Available {% else %} - Unavailable {% endif %}
{% if current_user.is_authenticated %}
<a href="{{ url_for('update_book', bid=book.id) }}"> Update </a> |
<a href="{{ url_for('delete_book', bid=book.id) }}"> Delete </a><br>
{% endif %}
{% endfor %}
{% endfor %}
<br>
{% endblock body %}